.whitespace25
.container-fluid
	.row-fluid
		.span12.photo-box			
			.span7
				.row-fluid
					.span12
						.photo
							= image_tag @photo.images.standard_resolution.url
					.span12
						%strong=@photo.caption.text
				.photo-box-details
					.row-fluid
						.span3
							.row-fluid
								.span12
									= link_to image_tag(@photo.user.profile_picture), user_path(@photo.user.id), :target => "_blank", :height => "150px", :width => "150px"
								.span12
									#{link_to @photo.user.username, user_path(@photo.user.id), :target => "_blank", :class => "photo-box-details-username"}
						.span9
							.row-fluid
								.span7
								.span5
									=render :partial => "photos/share_buttons"
							.whitespace25

			.span5
				.photo-box-likes-box
					.row-fluid
						.span12
							.span3
								#{@photo.likes[:count]} Likes
							.span9
								-if current_user
									=link_to '<div style="font-size: 35px;color: red;"><i class="icon-heart-empty"></i></div>'.html_safe, "#", :class => "like-icon"
							=render :partial => "likes_show"
				.whitespace10
				.login-box
					=render :partial => "photos/login_box"
				.whitespace10
				.photo-box-comments-box
					.row-fluid
						.span12
							.comments-count-and-show-more
								#{@photo.comments[:count]} Comments
					.row-fluid
						.span12
							.comments-digest
								-comments = @photo.comments.data
								-comments.each do |comment|
									.comment
										.row-fluid
											.span2
												=link_to (image_tag comment.from.profile_picture, :width => "50px", :height => "50px", :alt => "", :class => "profile-picture-thumb"), user_path(comment.from.id), :target => "_blank"
											.span10
												#{link_to comment.from.username, user_path(comment.from.id), :target => "_blank", :class => "profile-username"} :
												=comment.text
								.comments-count-and-show-more
									=link_to "Show More", "#", :class => "comments-digest-show-all", :remote => true
							.comments-all
								-comments = Instagram.media_comments(@photo[:id])
								-comments.each do |comment|
									.comment
										.row-fluid
											.span2
												=link_to (image_tag comment.from.profile_picture, :width => "50px", :height => "50px", :alt => "", :class => "profile-picture-thumb"), user_path(comment.from.id), :target => "_blank"
											.span10
												#{link_to comment.from.username, user_path(comment.from.id), :target => "_blank", :class => "profile-username"} :
												=comment.text


