<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>

    <%= render :partial => "layouts/header_top"%>
    <%= render :partial => "layouts/header_middle"%>

    <%flash.each do |key,value|%>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <div class="flash alert alert-<%=key%> alert-box eight columns"><%=value%></div>
          </div>
        </div>
      </div>
    <%end%>
          
<!--     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12"> -->
    <%= yield %>
<!--         </div>
      </div>
    </div>  -->
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
